
<table class="w-full">
  <thead>
    <tr class="border-b">
      <th class="text-left py-3 px-4">Address</th>
      <!-- <th class="text-left py-3 px-4">Type</th> -->
      <!-- <th class="text-left py-3 px-4">Units</th>
      <th class="text-left py-3 px-4">Occupancy</th> -->
      <!-- <th class="text-left py-3 px-4">Status</th> -->
      <th class="text-left py-3 px-4">Actions</th>
    </tr>
  </thead>
  <tbody>
    @if (properties==null||properties.length<1) {
      <tr>
        <td colspan="2">
          <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <span class="font-medium">No Properties Available. </span> There are currently no properties listed in the system. You can add a new property by clicking the 'Add Property' button to begin managing your real estate portfolio.
          </div>
        </td>
      </tr>
    }
   
      @for (property of properties; track property.id) {
        <tr class="border-b hover:bg-gray-50">
          <td class="py-3 px-4">{{ property.address }}</td>
          <!-- <td class="py-3 px-4">{{ property.type }}</td> -->
  
  
  
  
          
          <!-- <td class="py-3 px-4">{{ property.isDeleted }}</td> -->
  
          <!-- <td class="py-3 px-4">
            <span [class]="getStatusClass(property.isDeleted)">
              {{ property.isDeleted }}
            </span>
          </td> -->
          <td class="py-3 px-4">
            <app-property-actions 
              [property]="property"
              (onAction)="onAction.emit($event)"
            />
          </td>
  
  
  
        </tr>
      }
    

  </tbody>
</table>