<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="space-y-4">
  
  
  
  
  
  
  
  
  
  
  
  <p *ngIf="error"  class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
    
    <!-- *ngIf="error" -->
    {{ error }}
  </p>

  <app-form-field label="Email" id="email" [error]="getFieldError('email')">
    <input type="email" id="email" formControlName="email"
      class="mt-1 block w-full rounded-md border-gray-300 shadow-sm" placeholder="name@example.com">
  </app-form-field>



  <app-form-field label="Password" id="password" [error]="getFieldError('password')" class="my-5">
    <div class="relative">
      <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm pr-10">
      <button type="button" (click)="togglePassword()" class="absolute inset-y-0 right-0 pr-3 flex items-center">
        <span class="text-sm text-gray-600">
          {{ showPassword ? 'Hide' : 'Show' }}
        </span>
      </button>
    </div>
  </app-form-field>







  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <input type="checkbox" id="remember" formControlName="rememberMe" class="h-4 w-4 rounded border-gray-300">
      <label for="remember" class="ml-2 block text-sm text-gray-700">
        Remember me
      </label>
    </div>
    <a href="#" class="text-sm text-blue-600 hover:text-blue-500">
      Forgot password?
    </a>
  </div>

  <app-button type="submit" [loading]="loading" [disabled]="loginForm.invalid || loading" class="my-2">
    Log in
  </app-button>


</form>