
<header class="shadow-sm bg-[#1B3A5C] text-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16 items-center">
        <!-- Logo -->
        <div class="flex-shrink-0">
          <a routerLink="/" class="text-xl font-bold">Rent SaaS</a>
        </div>

        <!-- Desktop Navigation -->
        <nav class="hidden lg:flex items-center space-x-8">
          <app-nav-link href="#" label="Features"></app-nav-link>
          <a routerLink="/pricing" class="hover:text-primary transition-colors">Pricing</a>
          <app-nav-link href="#" label="About"></app-nav-link>
          <app-nav-link href="#" label="Contact us"></app-nav-link>
        </nav>






@if(islogin==true) {

  <div class="hidden lg:flex items-center space-x-4">

    <button type="button" (click)="logout()" 
    class="py-2.5 m-6 px-5 me-2 my-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200
     hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700
      dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"> logout</button>


    <a 
     
      class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-700"
    >
      Go to Dashboard
    </a>
  </div>
}
@else {
        <!-- Desktop CTA Buttons -->
        <div class="hidden lg:flex items-center space-x-4">
          <a 
            routerLink="/login"
            class="text-white-700 hover:text-white-900 px-3 py-2"
          >
            Log In
          </a>
          <a 
            routerLink="/register"
            class="bg-orange-500 text-white px-4 py-2 rounded-md hover:bg-orange-700"
          >
            Sign Up
          </a>
        </div>
}





        <!-- Mobile Menu Button -->
        <button 
          class="lg:hidden text-gray-600 hover:text-gray-900"
          (click)="toggleMobileMenu()"
        >
          <span class="material-icons">menu</span>
        </button>
      </div>
    </div>

    <!-- Mobile Menu -->
    <app-mobile-menu
      [isOpen]="isMobileMenuOpen"
      (onClose)="closeMobileMenu()"
    />
  </header>