<form [formGroup]="propertyForm" (ngSubmit)="handleSubmit()" class="space-y-6">
  <div class="grid grid-cols-1 md:grid-cols-1 gap-6">


    <app-form-field label="address" id="address" [error]="getFieldError('address')">
      <input type="text" id="address" formControlName="address"
        class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500" placeholder="Enter address for Property">
    </app-form-field>


    <app-form-field label="unite" id="unite" [error]="getFieldError('unite')">
      <input type="text" id="unite" formControlName="unite"
        class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500" placeholder="Enter unite for new  property">

    </app-form-field>


    <app-form-field label="note" id="note" [error]="getFieldError('note')">
      <input type="text" id="note" formControlName="note"
        class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500" placeholder="Enter note for new  property">

    </app-form-field>










    <!-- <div class="grid grid-cols-2 gap-4">
      <app-form-field label="Property type" id="propertyType" [error]="getFieldError('propertyType')">
        <select id="propertyType" formControlName="propertyType"
          class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500">
          <option value="">Please select</option>
          <option value="house">House</option>
          <option value="condo">Condo / Apartment Unit</option>
          <option value="townhouse">Townhouse</option>
          <option value="community">Entire Apartment Community</option>
        </select>propertyForm
      </app-form-field>

      <app-form-field label="Unit number" id="unitNumber" [error]="getFieldError('unitNumber')">
        <input type="text" id="unitNumber" formControlName="unitNumber"
          class="w-full p-2 border rounded focus:ring-2 focus:ring-blue-500" placeholder="#">
        <p class="mt-1 text-sm text-gray-500">If applicable</p>
      </app-form-field>
    </div> -->
  </div>

  <div class="flex justify-end gap-4">
    <a routerLink=".." class="px-4 py-2 text-gray-700 bg-white border rounded hover:bg-gray-50">
      Cancel
    </a>
    <button type="submit" [disabled]="propertyForm.invalid || loading"
      class="px-4 py-2 text-white bg-blue-600 rounded hover:bg-blue-700 disabled:opacity-50">
      {{ loading ? 'Creating...' : 'Create Property' }}
    </button>
  </div>





</form>