<div class="col-lg-3 col-md-3">
    <div class="mt-5 pt-1  h-100">
        <!-- sidebar start -->
        <nav id="sidebarMenu" class=" d-lg-block sidebar  bg-white">
            <div class="position-sticky m-0 p-0 border border-3">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <div class="row">
                        <div class="col-2">
                            <a href="#" class="  " aria-current="true">

                                <img class=" sidebar-img ms-2" src="/img/sidebar-img.svg" alt=""></a>
                        </div>
                        <div class="col-10">
                            <span class="ms-1">BookMySpace</span>
                            <p class="text-muted ">Software project</p>
                        </div>
                    </div>
                    <!-- <details>
                        <summary class="show text-uppercase my-2">Planning</summary>
                        <ul class="list-unstyled">
                            <li class="p-2">
                                <a href="#" class="text-decoration-none text-muted active">
                                    <i class="fas fa-chart-area fa-fw me-3"></i><span>RoadMap</span>
                            </li>
                            <li class="p-2">
                                <a href="#" class="text-decoration-none  text-muted">
                                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Board</span>

                                </a>
                            </li>
                        </ul>
                    </details>
                    <details>
                        <summary class="show text-uppercase">devlopment</summary>
                        <ul class="list-unstyled">
                            <li class="p-2">
                                <a href="#" class="text-decoration-none text-muted active">
                                    <i class="fas fa-chart-area fa-fw me-3"></i><span>Code</span>
                            </li>

                        </ul>




                    </details> -->
                    <hr>
                    <ul class="list-unstyled">
                        <li class="py-2">
                            <a href="#" class="text-decoration-none py-2 text-black ">
                                <i class="fas fa-chart-area fa-fw me-3"></i><span>Project Pages</span></a>
                        </li>
                        <li class="py-2">
                            <a href="#" class="text-decoration-none py-2 text-black ">
                                <i class="fas fa-chart-area fa-fw me-3"></i><span>Add Shortcut</span></a>
                        </li>
                        <li class="py-2">
                            <a href="#" class="text-decoration-none py-2 text-black ">
                                <i class="fas fa-chart-area fa-fw me-3"></i><span>Project Setting</span></a>
                        </li>
                    </ul>
                </div>

                <div class="text-center  sidebarFooter">

                    <p class="p-0 m-0">You're in a team-managed project
                        </p>
                <a href="#" class="text-decoration-none fw-bold text-secondary">Learn more</a>
                </div>
            </div>
        </nav>
        <!-- sidebar end -->
    </div>
</div>