<header id="fh5co-header" role="banner">
    <div class="container">
        <div class="row">
            <div class="header-inner">
                <h1><a routerLink="/">Estate<span>.</span></a></h1> <!-- Link to Home -->
                <nav role="navigation">
                    <ul>
                        <li> 
                            <a routerLink="login">Go to Login</a> <!-- Link to Login -->
                        </li>
                        <li> 
                            <a routerLink="Register">Register</a> <!-- Link to Login -->
                        </li>


                        <li>
                            <a routerLink="">Home</a> <!-- Link to Home -->
                        </li>
                        <li><a routerLink="/rigister">Properties</a></li> <!-- Static Link -->
                        <li class="call">
                            <a href="tel://123456789"><i class="icon-phone"></i> +1 123 456 789</a>
                        </li>
                        <li class="cta"><a href="contact.html">Contact us</a></li> <!-- Static Link -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
